services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: sor
      POSTGRES_USER: sor
      POSTGRES_PASSWORD: sor
    ports:
      - "5434:5432"
  redis:
    image: redis:7
    ports:
      - "6381:6379"
  app:
    build: .
    depends_on:
      - postgres
      - redis
    ports:
      - "8082:8080"
